<section class="p-business">

        <div class="p-business__intro">
           <div class="l-container">
            <h2 class="p-business__intro-catch">
                エコツアーで、あなたの心を癒す特別な体験を。自然とのつながりを深める、心温まる瞬間をお届けします。
            </h2>
            <div class="p-business__intro-text">
                <p>
                    自然の中で心を癒し、仲間と素敵な思い出を作りましょう。私たちのエコツアーでは、あなたの心に残る特別な
                    瞬間を、自然と共に体験することができます。美しい風景や豊かな生態系に囲まれながら、心温まるひとときを
                    過ごしませんか？共に笑い、共に学び、共に地球を愛する旅を楽しみながら、自然の大切さを感じることができるでしょう。
                </p>
            </div>
           </div>
        </div>
        <div class="p-business__service">
            <div class="p-business__service-body">
                <div class="p-business__service-box _reverse">
                    <figure class="p-business__service-image">
                        <img width="800" height="500" src="../img/ph_service01.jpg" alt="緑の芝生と大きな木々の影が広がる公園の風景">
                    </figure>
                    <div class="p-business__service-desc">
                        <span class="p-business__service-subhead">サービス1</span>
                        <h3 class="p-business__service-head">自然体験ツアー</h3>
                        <p class="p-business__service-text">
                            私たちの自然体験ツアーでは、地元の自然を感じながら心身ともにリフレッシュできます。
                            専門ガイドが同行し、環境への理解を深めながら、特別な瞬間を共有します。自然の美しさ
                            を体感し、忘れられない思い出を作りましょう。
                        </p>
                        <p class="p-business__service-text">
                            私たちのエコアドベンチャーツアーでは、豊かな自然環境の中で心を開放し、リフレッシュする
                            ことができます。経験豊富なガイドが、自然の魅力を存分に伝えながら、あなたに特別な体験を
                            提供します。美しい風景を満喫しながら、楽しみましょう。
                        </p>
                        <div class="p-business__service-descImageWrap">
                            <figure class="p-business__service-descImage">
                              <img width="144" height="100" src="../img/BusinessContent-img1.jpg" alt="自然観察をしているグループの人々が、海を背景に話を聞いている様子">
                            </figure>
                            <figure class="p-business__service-descImage">
                              <img  width="144" height="100" src="../img/BusinessContent-img2.jpg" alt="小さな子どもが、釣り上げた魚を見ている様子を大人が見守っている">
                            </figure>
                            <figure class="p-business__service-descImage">
                              <img  width="144" height="100" src="../img/BusinessContent-img3.jpg" alt="カヤックに乗っている人が、緑の植物に囲まれた水辺を楽しんでいる">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="p-business__service-box _normal">
                    <figure class="p-business__service-image">
                        <img width="800" height="500" src="../img/ph_service02.jpg" alt="竹から水が流れ出る様子と、その水面に広がる波紋">
                    </figure>
                    <div class="p-business__service-desc">
                        <span class="p-business__service-subhead">サービス2</span>
                        <h3 class="p-business__service-head">環境教育プログラム</h3>
                        <p class="p-business__service-text">
                            私たちの環境教育プログラムは、持続可能な生活について学ぶ機会を提供します。
                            参加者は、自然環境の保護や地域の生態系について学びながら、実践的な活動を通
                            じて環境意識を高めることができます。
                        </p>
                        <p class="p-business__service-text">
                            私たちの環境教育プログラムでは、持続可能な生活を学ぶ機会を提供します。
                            参加者は、地域の自然環境を体験し、保護の大切さを理解することで、
                            環境意識を高めることができます。
                        </p>
                        <div class="p-business__service-descImageWrap">
                            <figure class="p-business__service-descImage">
                              <img width="144" height="100" src="../img/BusinessContent-img4.jpg" alt="教室で生徒たちが先生の話を聞いている様子">
                            </figure>
                            <figure class="p-business__service-descImage">
                              <img  width="144" height="100" src="../img/BusinessContent-img5.jpg" alt="ビーチでゴミ拾いをする団体のメンバーが集まっている様子">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="p-business__service-box _reverse">
                    <figure class="p-business__service-image">
                        <img width="800" height="500" src="../img/ph_service03.jpg" alt="両手で黒い土と小さな緑の植物を持っている様子。植物は健康的で成長中を示しており、自然や環境保護を象徴しています。">
                    </figure>
                    <div class="p-business__service-desc">
                        <span class="p-business__service-subhead">サービス3</span>
                        <h3 class="p-business__service-head">エコアクティビティ</h3>
                        <p class="p-business__service-text">
                            さまざまなエコアクティビティを通じて、自然の中での楽しさを体験できます。
                            ハイキングやバードウォッチング、キャンプなど、アウトドアでのアクティビテ
                            ィを通じて、自然とのつながりを感じていただけます。
                        </p>
                        <p class="p-business__service-text">
                            私たちのエコアクティビティでは、自然の中での楽しさを存分に体験できます。
                            ハイキングやバードウォッチング、キャンプなどのアクティビティを通じて、
                            仲間と共に自然とのつながりを深め、心に残る思い出を作りましょう。
                        </p>
                        <div class="p-business__service-descImageWrap">
                            <figure class="p-business__service-descImage">
                              <img width="144" height="100" src="../img/BusinessContent-img6.jpg" alt="若い人たちが共同で木を植えている様子">
                            </figure>
                            <figure class="p-business__service-descImage">
                              <img  width="144" height="100" src="../img/BusinessContent-img7.jpg" alt="キャンプファイヤーを囲んで友人たちが楽しそうに話しているシーン">
                            </figure>
                            <figure class="p-business__service-descImage">
                              <img  width="144" height="100" src="../img/BusinessContent-img8.jpg" alt="森の中で双眼鏡を使って観察している子ども">
                            </figure>
                            <figure class="p-business__service-descImage">
                              <img  width="144" height="100" src="../img/BusinessContent-img9.jpg" alt="山を背景に、バックパックを背負ったハイカーたちがトレイルを歩いている様子">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>