<section class="p-contact">
    <div class="l-container">
        <div class="p-contact__info">
            <h2 class="p-contact__info-title">お問い合わせについて</h2>
            <div class="p-contact__info-text">
                <p>
                    通常、3営業日以内に担当者よりご連絡差し上げます。
                    お急ぎの場合はお電話にてご連絡下さい。（TEL: 00-0000-0000　平日9:00〜17:00）
                </p>
            </div>
        </div>
        <div class="p-contact__form">
            <h3 class="p-contact__form-head">お問い合わせフォーム</h3>
            <div class="p-contact__form-body">
                <%- include('../parts/_form.ejs') %>
            </div>
        </div>
    </div>
</section>