<section class="c-cta">

    <h4 class="c-cta__title">お問い合わせ</h4>
    <p class="c-cta__supplement">下記フォームまたは電話番号へお問合わせください</p>
    <div class="c-cta__btn">
       <a href="contact.html" class="c-btn--contact">お問い合わせ</a>
    </div>
    <div class="c-cta__info">
       <p class="c-cta__info-supplement">お電話でのお問合せはこちら</p>
       <address class="c-cta__info-tel"><span>TEL</span>03-0000-0000</address>
       <p class="c-cta__info-day">受付時間：平日9:00〜18:00</p>
    </div>

</section>