<section class="p-pickup">
    <h2 class="c-section-title">PICK UP</h2>
 <div class="l-container">
    <div class="p-pickup__wrapper">
        <div class="p-pickup__card">
           <a href="#">
            <figure class="p-pickup__card-image">
                <img width="256" height="164" src="/img/pickup-img1.jpg" alt="エコリュックサックの商品画像">
                <figcaption class="p-pickup__card-caption"><span class="l-sp-only p-pickup__card-arrow"></span>エコリュックサック</figcaption>
            </figure>
           </a>
        </div>
        <div class="p-pickup__card">
          <a href="#">
            <figure class="p-pickup__card-image">
                <img width="256" height="164" src="/img/pickup-img2.jpg" alt="オーガニックシャンプーの商品画像">
                <figcaption class="p-pickup__card-caption"><span class="l-sp-only p-pickup__card-arrow"></span>オーガニックシャンプー</figcaption>
            </figure>
          </a>
        </div>
        <div class="p-pickup__card">
          <a href="#">
            <figure class="p-pickup__card-image">
                <img width="256" height="164" src="/img/pickup-img3.jpg" alt="バードウォッチング専用の双眼鏡の商品画像">
               <figcaption class="p-pickup__card-caption"><span class="l-sp-only p-pickup__card-arrow"></span>バードウォッチング双眼鏡</figcaption>
            </figure>
          </a>
        </div>
        <div class="p-pickup__card">
           <a href="#">
            <figure class="p-pickup__card-image">
                <img width="256" height="164" src="/img/pickup-img4.jpg" alt="再生利用可能ウォーターボトルの商品画像">
            <figcaption class="p-pickup__card-caption"><span class="l-sp-only p-pickup__card-arrow"></span>再生利用可能ウォーターボトル</figcaption>
            </figure>
           </a>
        </div>
    </div>
 </div>
</section>