<section class="p-service">
    <h2 class="c-section-title">SERVICE</h2>
    <div class="l-container">
        <div class="p-service__card-wrapper">
            <div class="p-service__card">
                <figure class="p-service__card-image">
                    <img width="348" height="160" src="/img/service-img1.jpg" alt="子供が木の苗を手ですくって様子">
                </figure>
                <div class="p-service__card-text">
                    <h3 class="p-service__card-head">自然環境の保護</h3>
                    <p>
                        ツアーのすべての活動は、環境への影響を最小限に抑え、
                        地域のエコシステムを尊重しています。
                    </p>
                   <p></p>
                </div>
               <div class="p-service__btn">
                 <a href="#" class="c-btn--md">詳しく見る</a>
               </div>
            </div>
            <div class="p-service__card">
                <figure class="p-service__card-image">
                    <img width="348" height="160" src="/img/service-img2.jpg" alt="専門ガイドがツアー客を案内している様子">
                </figure>
                <div class="p-service__card-text">
                    <h3 class="p-service__card-head">専門ガイドの案内</h3>
                    <p>
                        経験豊富なガイドが、自然の魅力や環境保護について詳しく解説し、
                        安全で楽しい体験をサポートします。
                    </p>
                   <p></p>
                </div>
                <div class="p-service__btn">
                    <a href="#" class="c-btn--md">詳しく見る</a>
                  </div>
            </div>
            <div class="p-service__card">
                <figure class="p-service__card-image">
                    <img width="348" height="160" src="/img/service-img3.jpg" alt="女性が双眼鏡片手に自然を観察している様子">
                </figure>
                <div class="p-service__card-text">
                    <h3 class="p-service__card-head">ユニークな体験</h3>
                    <p>
                        ハイキング、バードウォッチング、カヤックなど、
                        多彩なアクティビティを通じて、自然と触れ合うことができます。
                    </p>
                   <p></p>
                </div>
                <div class="p-service__btn">
                    <a href="#" class="c-btn--md">詳しく見る</a>
                  </div>
            </div>
        </div>
        <div class="p-service__btn--lg">
            <a href="#" class="c-btn--lg">事業内容</a>
        </div>
    </div>
</section>