<div class="c-breadcrumb">
    <ul class="c-breadcrumb__list">
      <li class="c-breadcrumb__item"><a class="c-breadcrumb__link first-link" href="index.html">ホーム</a></li>
      <li class="c-breadcrumb__item"><a class="c-breadcrumb__link" href="business.html">事業内容</a></li>
    </ul>
  </div>
