<div class="c-contact-head">
   <div class="l-container">
    <span class="c-contact-head__subtitle">CONTACT</span>
    <h1 class="c-contact-head__title">お問い合わせ</h1>
    <div class="c-contact-head__text">
        <p>
            弊社の事業・商品へのご質問・お問い合わせ等は以下のフォームからご連絡下さい。
        </p>
    </div>
   </div>
</div>