<div class="p-hero">
  <div class="p-hero__container">
    <figure class="p-hero__image">
      <img width="453" height="382" src="/img/mv_illust.png" alt="GRASSFIELDのイラストイメージ">
    </figure>
    <div class="p-hero__text">
      <h1 class="p-hero__title">
        自然の中で心安らぐひととき <br>
        特別な瞬間をここで味わう   <br>
        あなたのための心地よいひととき
      </h1>
    </div>
  </div>
</div>