@use"../../foundation/_mixin.scss" as *;
.p-service {
    padding: px-clamp(32, 88, 375, 1600) 0;

    &__card-wrapper {
      display: grid;
      grid-template-columns: 1fr; /* SPは1カラム */
      justify-items: center;
      gap: px-to-rem(20px); /* カード間の余白 */
      margin-top: px-to-rem(-20px);

      /* カードの高さを自動調整 */
      grid-auto-rows: 1fr; /* すべてのカードの高さを均一にする */
      align-items: stretch; /* 各カードの高さを揃える */

      @include responsive("phone") {
        margin-top: px-to-rem(30px);
        grid-template-columns: repeat(2, 1fr); /* 2カラム */
      }

      @include responsive("desktop") {
        grid-template-columns: repeat(3, 1fr); /* 3カラム */
      }
    }

    &__card {
      max-width: px-to-rem(400px);
      width: 100%;
      margin-top: px-to-rem(20px);
      display: flex;
      flex-direction: column; /* カード内の要素を縦並びにする */
    }

    &__card-text {
      flex-grow: 1; /* テキスト部分を伸ばして揃える */

      p {
        line-height: 1.875;
      }
    }

    &__card-head {
      font-size: px-to-rem(20px);
      font-weight: bold;
      line-height: px-to-rem(72px);
    }

    &__btn {
      text-align: center;
      margin: px-to-rem(27px) 0 px-to-rem(20px) 0;
    }

    &__btn--lg {
      text-align: center;
      margin-top: px-clamp(20, 40, 375, 1600);
    }
  }
